body {
  background-color: black;
}

.container {
  background-color: white;
  justify-content: center;
  width: 61%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
}

input[type="text"],
select {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="password"],
select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid cyan;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 30%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: black;
  color: aliceblue;
  text-transform: uppercase;
}

.header {
  width: 95%;
  background-color: turquoise;
  padding: 10px 20px;
  color: aliceblue;
}

.ui-define {
  background-color: whitesmoke;
  font-family: sans-serif;
  margin-left: 30%;
  width: 50%;
  padding: 20px 30px;
  margin-top: 5%;
}
